<%= form_with(model: controller) do |form| %>
  <% if controller.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(controller.errors.count, "error") %> prohibited this controller from being saved:</h2>

      <ul>
        <% controller.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm form-label">
          <%= form.label :nome, class: 'form-label'%>
          <%= form.text_field :nome, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm form-label">
          <%= form.label :gioco, class: 'form-label'%>
          <%= form.text_field :gioco, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm form-label">
          <%= form.label :prezzo, class: 'form-label' %>
          <%= form.number_field :prezzo, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm form-label">
          <%= form.label :cover, class: 'form-label' %>
          <%= form.file_field :cover, class: 'form-control' %>
        </div>
      </div>
    </div>
</div>


  <div class="actions">
    <%= form.submit %>
  </div>
    <br>

<% end %>
