<%= form_with(model: controller) do |form| %>
  <% if controller.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(controller.errors.count, "error") %> prohibited this controller from being saved:</h2>

      <ul>
        <% controller.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :gioco %>
    <%= form.text_area :gioco %>
  </div>

  <div class="field">
    <%= form.label :disponibilita %>
    <%= form.check_box :disponibilita %>
  </div>

  <div class="field">
    <%= form.label :prezzo %>
    <%= form.number_field :prezzo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
